{% extends "layout.html" %}

{% block title %}
  <title>Cocktail Creator</title>
{% endblock %}

{% block content %}
  <h2 style="color:rgb(83, 1, 131)">Cocktail Creator</h2>

  <p>Welcome to the Cocktail Creator - you are one step away from making a great cocktail at home!</p>

  <form>
    <label>Please put in a keyword (ingredient or cocktail name) to begin:</label>
    <input type="text" id="nametext" name="name" onkeydown="myFunction(event)">
    <input type="button" value="search" onclick="searchCocktail(document.getElementById('nametext').value)">
        <script> 
      function myFunction(event)
      {var m = event.keyCode;
      if (m == 13)
        alert ("Please click search to see your results")}
      </script>   
  
  </form>
    
  

  <div id="searchresult" class="row"></div>
{% endblock %}


<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript">